@import "../styles/config/variable";
@import "../styles/config/utilities";

.container {
  position: relative;
  width: 100%;
  @include flex_layout(center, null, column);
  padding: 5rem 0;
  .main_heading {
    font-size: 2.5rem;
    color: $main;
    align-self: center;
    margin-bottom: 4rem;
  }
  .wrapper {
    position: relative;
    width: 70%;
    @include flex_layout(null, null);
    @media (max-width: 768px) {
      width: 100%;
    }
    .image {
      position: relative;
      width: 50%;
    }
    .about {
      position: relative;
      width: 50%;
      padding: 3rem 5rem;
      .desc {
        font-size: 1.8rem;
        text-align: justify;
        margin-bottom: 2rem;
        font-weight: 500;
        line-height: 1.6;
      }
    }
    @media screen and (max-width: 768px) {
      width: 90%;
      @include flex_layout(center, null, column);
      .image,
      .about {
        width: 100%;
      }
    }
  }
}
