@import "../../styles/config/utilities";
@import "../../styles/config/variable";


.container{
    border-radius:8px;
    color:#fd7e14;
    font-weight: 500;
    background-color: #fffef8;
}
.container:hover{
}