@import "../styles/config/utilities";
@import "../styles/config/variable";

.container {
  position: relative;
  width: 100%;
  padding-top:5rem;
  background-color:#FFFEF8;
  @include flex_layout(center, null, column);
  .section__header {
    text-align: center;
    margin-bottom: 5rem;
  }
  .heading{
    padding:1rem ;
    font-size:2rem;
    color: #fd7e14;
  }
  .heading1{
    padding:1rem ;
    font-size:2rem;
    color: $main;
  }
   .carousel__box {
    position: relative;
    
    width: 100%;
    padding: 2rem 10rem;
    overflow: hidden;
    @media screen and (max-width: 768px) {
      padding: 2rem 6rem;
    }
    .card__wrapper {
      position: relative;
      padding: 4.5rem;
      height: max-content;
    }
    .slider__btn {
      @include flex_layout(center, space-between);
      position: absolute;
      padding: 0 5rem;
      top: 50%;
      left: 0%;
      right: 0%;
      @media screen and (max-width: 768px) {
        padding: 0 1rem;
      }
    }
  }
}
