@import "../styles/config/utilities";
@import "../styles/config/variable";

.card {
  position: relative;
  width: 35rem;

  @include flex_layout(null, null, column);
  border-radius: 0.7rem;
  box-shadow: 0 0 0.5rem 0.1rem rgba(black, 0.2);
  padding: 3rem;
  transition: {
    property: border, transform;
    duration: 0.4s;
  }
  margin: 0 auto;

  &:hover {
    transform: translateY(-1rem);
  }
  .title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
    color: red;
  }
  .desc {
    width: 100%;
    font-size: 1.6rem;
    white-space: pre-line;
    line-height: 1.9;
    color: rgba($dark, 0.7);
    padding-left: 0.2rem;
    font-weight: bold;
    max-height: 20rem;
    min-height: 20rem;
    overflow-y: scroll;
    border-top: 0.2rem solid $light_black;
    padding-top: 0.5rem;
    &::-webkit-scrollbar {
      display: inline;
      background-color: $primary;
      width: 0.5rem;
      border-radius: 1rem;
      &-thumb {
        width: 0.5rem;
        background-color: black;
        border-radius: 10rem;
      }
      &-track {
        margin: 0.5rem 0;
      }
    }
  }
}
