@import "../styles/config/utilities";
@import "../styles/config/variable";

.container {
  position: relative;
  width: 100%;
  @include flex_layout(center, null, column);
  .section__header {
    text-align: center;
    margin-bottom: 5rem;
  }
  .carousel__box {
    position: relative;
    width: 100%;
    padding: 2rem 10rem;
    overflow: hidden;
    .card__wrapper {
      position: relative;
      padding: 2rem;
      height: max-content;
    }
    .slider__btn {
      @include flex_layout(center, space-between);
      position: absolute;
      padding: 0 5rem;
      top: 50%;
      left: 0%;
      right: 0%;
    }
  }
}
