@import "../styles/config/utilities";
@import "../styles/config/variable";

.left__arow,
.right__arow {
  border: none;
  background-color: transparent;
  padding: 0.2rem;
  cursor: pointer;
  &[data-color="true"] {
    .arrow {
      color: $main;
      &:hover {
        color: $orange;
      }
    }
  }
  .arrow {
    border-radius: 50%;
    &:hover {
      color: blue;
    }
    font-size: 4.5rem;
    color: rgba(black, 0.3);
  }
}
