@import "../styles/config/variable";

.button {
  background-color: $orange;
  color: white;
  font-size: 1.5rem;
  border-radius: 0.4rem;
  padding: 1.2rem 2rem;
  width: max-content;
  cursor: default;
  outline: none;
  border: none;
  transform: translate(0, 0);
  transition : {
    property: transform;
    duration: 0.3s;
  }
  &:hover {
    transform: translate(0.02rem, -0.02rem);
  }
}
