@import "../styles/config/utilities";
@import "../styles/config/variable";


.containers{
@include flex_layout(left, center, column);
      border-radius: 16px;
      padding: 4rem 4rem 6rem 4rem;
      background-color: #fffef8;
      
      
      .Contt{
        padding-left: 30px;

        .co{
            display: flex;
            flex-direction: row;
            font-size: 2rem;
            // padding-left: 150px;

             @media screen and (max-width: 768px) {
    // font-size: 1.5rem;
     display: flex;
            flex-direction: column;

  }

        }
      }
}


