@import "../styles/config/utilities";
@import "../styles/config/variable";

.container {
  position: relative;
  width: 100%;
  height: max-content;
  padding: 1rem 0.5rem;
  margin-bottom: 10rem;
  @include flex_layout(center, null, column);
  @media (max-width: 768px) {
    margin: 0;
  }
  .section__header {
    text-align: center;
    margin-bottom: 6.5rem;
  }
  .feature__box {
    position: relative;
    width: 100%;
    padding: 0 10rem;
    display: grid;
    grid-template-columns: repeat(4, minmax(20rem, 1fr));
    grid-gap: 5rem 10rem;
    @media screen and (max-width: 1024px) {
      grid-template-columns: repeat(3, minmax(20rem, 1fr));
      padding: 0 2rem;
    }
    @media screen and (max-width: 768px) {
      grid-template-columns: repeat(2, minmax(20rem, 1fr));
      padding: 0 2rem;
    }
    @media screen and (max-width: 640px) {
      grid-template-columns: repeat(1, minmax(20rem, 1fr));
      padding: 0 2rem;
    }
    .feature {
      @include flex_layout(null, null, column);
      @media screen and (max-width: 768px) {
        @include flex_layout(null, null);
      }
    }
  }
}
