@import "../styles/config/utilities";
@import "../styles/config/variable";

.feature__img {
  position: relative;
  min-width: 10rem;
  max-width: 10rem;
  object-fit: fill;
}

.feature__details {
  @include flex_layout(null, null, column);
  @media screen and (max-width: 768px) {
    min-width: 30rem;
  }
  &[data-for="feature"] {
    margin-top: 2rem;
    .title {
      text-align: center;
    }
    @media screen and (max-width: 768px) {
      margin-top: 0;
      margin-left: 3rem;
      text-align: left;
      .title {
        text-align: left;
      }
    }
  }
  &[data-for="quality"],
  &[data-for="services"] {
    margin-left: 3rem;

    .title {
      text-align: left;
    }
    @media screen and (max-width: 768px) {
      text-align: left;
      .title {
        text-align: left;
      }
    }
  }

  .title {
    font-size: 1.8rem;
    color: $orange;
    font-weight: bolder;
    margin-bottom: 1.5rem;
  }
  .description {
    width: 100%;
    font-size: 2rem;
    .phrase {
      @include flex_layout(null, null);
      font-size: 1.5rem;
      font-weight: 500;
      color: rgba($dark, 0.8);
      .dot {
        color: $main;
        margin-right: 1rem;
      }
      &:not(:last-child) {
        margin-bottom: 1rem;
      }
    }
  }
  .text {
    font-size: 1.5rem;
    color: rgba(black, 0.6);
    font-weight: bold;
    color: $main;
    line-height: 1.6;
    text-align: justify;
  }
  .feature__btn {
    background-color: white;
    color: $orange;
    font-size: 1.5rem;
    margin-top: 4rem;
    border-radius: 2.5rem;
    padding: 1.1rem 2.5rem;
    width: max-content;
    border: 2px solid $orange;
    cursor: pointer;
    font-weight: bold;
    transition : {
      property: transform, box-shadow;
      duration: 0.01s;
    }
    &:hover {
      transform: translate(0.1rem, -0.1rem);
      box-shadow: -0.1rem 0.2rem 0.3rem rgba(black, 0.2);
    }
  }
  &[data-for="growth"] {
    margin-top: 2rem;
    text-align: center;
    .text {
      text-align: inherit;
    }
    @media screen and (max-width: 768px) {
      margin-top: 0;
      margin-left: 2rem;
      text-align: left;
    }
  }
}