@import "../styles/config/utilities";
@import "../styles/config/variable";

.container {
  .section__header {
    text-align: center;
    margin-bottom: 7rem;
  }
  .features {
    display: grid;
    grid-template-columns: repeat(2, minmax(30rem, 50rem));
    grid-gap: 9rem 10rem;
    padding: 0 1rem;
    place-content: center;
    @media screen and (max-width: 768px) {
      grid-template-columns: repeat(1, minmax(30rem, 50rem));
    }
    .feature {
      @include flex_layout(null, null);
    }
  }
}
