@import "../styles/config/variable";
@import "../styles/config/utilities";

.container {
  position: relative;
  width: 100%;
  @include flex_layout(center, null, column);
  padding: 5rem;
  background-color: white;
  border-bottom: 0.2rem solid $main;
  .main_heading {
    margin-bottom: 6rem;
    font-size: 2.5rem;
    color: $main;
    align-self: center;
    text-align: center;
  }
  .wrapper {
    @include flex_layout(null, null, column);
    border-radius: 1rem;
    width: 80%;
    @media screen and (max-width: 768px) {
      width: 100%;
      padding: 0 2rem;
    }
    .accordian {
      border-bottom: 0.1rem solid rgba($main, 0.6);
      padding: 2rem 0;
      overflow: hidden;
      & > p {
        width: 100%;
        padding: 1rem 0;
        font-size: 1.5rem;
        font-weight: 600;
        color: $main;
        @include flex_layout(center, space-between);
        .plus {
          color: $main;
          font-size: 1.5rem;
        }
      }
    }
  }
}
