@import "../styles/config/utilities";
@import "../styles/config/variable";

.title {
  font-size: 2rem;
  color: $orange;
  font-weight: bold;
  margin-bottom: 2rem;
  letter-spacing: 0.3rem;
  &[data-white="true"] {
    color: white;
  }
}
.heading,
.big__heading {
  font-size: 2.5rem;
  font-weight: bold;
  color: $main;
  &[data-white="true"] {
    color: white;
  }
  white-space: pre-line;
}
.big__heading {
  font-size: 4rem;
  letter-spacing: 0.1rem;
}
