@import "../styles/config/utilities";
@import "../styles/config/variable";

.container {
  position: relative;
  width: 100%;
  @include flex_layout(center, center);
  overflow: hidden;
  margin-top: 10rem;
  @media screen and (max-width: 768px) {
    @include flex_layout(center, null, column);
    background-image: none;
    padding: 0;
    margin-top: 6rem;
  }
  .service__img {
    position: relative;
    width: 40%;
    background-image: url(../main/assets/achievement.svg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: 10rem;
    @media screen and (max-width: 768px) {
      width: 100%;
      margin-right: 0;
      margin-bottom: 3rem;
    }
    &::after {
      content: "";
      display: block;
      padding-bottom: 92%;
    }
  }
  .content__box {
    position: relative;
    width: max-content;
    @include flex_layout(null, null, column);
    padding: 1rem;
    @media screen and (max-width: 768px) {
      width: 100%;
      padding: 2rem;
    }
    .service__header {
      margin-bottom: 4rem;
    }
    .feature__box {
      @include flex_layout(null, null);
      &:not(:last-child) {
        margin-bottom: 5rem;
      }
    }
  }
  .iframe__container {
    position: fixed;
    top: 50%;
    left: 50%;
    border-radius: 1rem;
    background-color: $black;
    z-index: 999;
    width: 60%;
    height: auto;
    box-shadow: $dark_box_shadow;
    padding: 3rem;
    overflow: hidden;
    &::after {
      content: " ";
      display: block;
      padding-bottom: 56.25%;
    }
    .iframe {
      border: none;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
    .close__btn {
      color: rgb(240, 240, 240);
      font-size: 3rem;
      cursor: pointer;
      position: absolute;
      top: 1rem;
      right: 18rem;
    }
  }
}
