@import "../styles/config/utilities";
@import "../styles/config/variable";

.container {
  position: relative;
  width: 100%;
  background-color: #FFFEF8;
  @include flex_layout(center, null, column);
  padding-bottom: 8rem;
  padding-top: 8rem;
  .section__header {
    text-align: center;
    padding-bottom: 1.5rem;
    .title{
      color: #fd7e14;
      font-size: 2.5rem;

    }
  }
  .carousel__box {
    position: relative;
    width: 100%;
    padding: 2rem 10rem;
    overflow: hidden;
    @media screen and (max-width: 768px) {
      padding: 2rem 5rem;
    }
    .card__wrapper {
      padding: 2rem 0;
    }
    .slider__btn {
      @include flex_layout(center, space-between);
      position: absolute;
      padding: 0 5rem;
      top: 50%;
      left: 0%;
      right: 0%;
      @media screen and (max-width: 768px) {
        padding: 0 1rem;
      }
    }
  }
}
