@import "../styles/config/utilities";
.overlay {
  position: fixed;
  top: 0;
  @include flex_layout(center, center);
  left: 0;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  z-index: 9999;
}
.overlay_after_open {
  // background-color: rgba(black, 0.05);
}
.overlay_before_close {
  // background-color: transparent;
}
.content {
  position: relative;
  width: max-content;
  border-radius: 1rem;
  background-color: white;
  transform: scale(0.99) translateY(-5%);
  box-shadow: 0 0 10rem rgba(black, 0.2);
  transition: {
    property: transform;
    duration: 0.15s;
  }
  overflow: hidden;
  height: max-content;
  @media screen and (max-width: 768px) {
    padding: 0;
    width: 100%;
  }
}
.content_after_open {
  // opacity: 1;
  transform: scale(1) translateY(0);
}
.content_before_close {
  // opacity: 0;
}
