@import "../../styles/config/utilities";
@import "../../styles/config/variable";

.container {
  position: relative;
  width: 100%;
  @include flex_layout(center, null, column);
  padding: 0 0.5rem;
  padding-bottom: 15rem;
  .main_heading {
    font-size: 3rem;
    color: $main;
    align-self: center;
    padding: 2rem 0;
  }
  .about {
    position: relative;
    width: 100%;
    @include flex_layout(center, center);
    padding: 3rem 0;
    & > figure {
      position: relative;
      width: 50%;
      padding: 4rem;
      margin-right: 3rem;
    }
    .desc {
      width: 40%;
      padding: 3rem;
      font-size: 1.7rem;
      font-weight: bold;
      color: $primary;
      line-height: 1.8;
      background-color: $main;
      border-radius: 1rem;
      background-image: url(../../assets/patternBG.png);
      background-repeat: repeat;
      background-size: contain;
      text-align: justify;
      box-shadow: 0 0 0.3rem 0.2rem rgba(black, 0.4);
      .quote {
        display: inline-block;
        color: "primary";
        font-size: 4rem;
        margin-right: 1rem;
        &:last-child {
          margin-left: 2rem;
          margin-bottom: -1.5rem;
        }
      }
      @media screen and (max-width: 768px) {
        width: 100%;
        padding: 3rem 2rem;
      }
    }
    @media screen and (max-width: 768px) {
      @include flex_layout(center, null, column);
      padding: 2rem 0.5rem;
      & > figure,
      .about {
        width: 100%;
        margin: 0;
      }
      & > figure {
        margin-bottom: 6rem;
      }
    }
  }
}
