@import "../../styles/config/utilities";
@import "../../styles/config/variable";


.container{
    border-radius:8px;
    box-shadow: 0 0 1rem rgba(black, 0.1);
    color:#fd7e14;
    font-weight: 500;
    background-color: #fffef8;
}
.container:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition:0.2s;
}