@import "../../styles/config/utilities";
@import "../../styles/config/variable";

.container {
  position: relative;
  width: 100%;
  @include flex_layout(center, null, column);
  height: 100%;
  padding: 3rem 0;
  padding-top: 20rem;
  background-image: url(../assets/wave1.svg);
  background-repeat: no-repeat;
  background-size: cover;
  @media screen and (max-width: 768px) {
    padding-top: 15rem;
  }
  .heading {
    color: $primary;
    font-size: 3rem;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 4rem;
    @media screen and (max-width: 768px) {
      font-size: 2.5rem;
    }
  }
  .wrapper {
    position: relative;
    width: 80%;
    @include flex_layout(center, center);
    padding: 3rem 8rem;
    .img {
      order: 2;
      flex: 0.7;
      position: relative;
    }
    .footer_text {
      position: relative;
      flex: 0.6;
      width: max-content;
      font-size: 1.8rem;
      color: $main;
      font-weight: bolder;
      padding: 0 2rem;
      padding: 4rem 0;
      order: 1;
      padding: 2rem;
      background-color: white;
      border-radius: 1rem;
      margin-right: 10rem;
      & > strong {
        color: $main;
        border: 1px solid red;
      }
      & > ul {
        &:not(:last-child) {
          margin-bottom: 3.5rem;
        }
        & > strong {
          display: inline-block;
          padding: 1rem 0;
          color: $orange;
          margin-bottom: 2rem;
        }
        & > li {
          margin-left: 3rem;
          margin-bottom: 2rem;
          @include flex_layout(center, null);
          color: $main;
          .check {
            color: $orange;
            font-size: 1.8rem;
            margin-right: 1.5rem;
          }
        }
      }
    }
    @media screen and (max-width: 768px) {
      width: 100%;
      @include flex_layout(center, null, column);
      padding: 0;
      .footer_text {
        width: 95%;
        margin: 0 auto;
        ul {
          text-align: center;
        }
        li {
          @include flex_layout(center, center);
          margin: 0 !important;
          margin-bottom: 0.8rem !important;
          .check {
            display: none;
          }
        }
      }
      .img {
        display: none;
      }
    }
  }
}
