@import "../../styles/config/utilities";
@import "../../styles/config/variable";

.container {
  position: relative;
  width: 100%;
  padding: 1rem;
  margin-top: 10rem;
  @include flex_layout(center, center);
  background-color: white;
  .banner_info {
    padding: 2rem 4rem;
    @include flex_layout(null, center, column);
    @media screen and (max-width: 768px) {
      width: 100%;
      padding: 2rem;
      @include flex_layout(center, center, column);
    }
    .title {
      font-size: 3rem;
      text-transform: uppercase;
      color: $main;
      font-weight: bolder;
      padding-bottom: 2rem;
    }
    .desc {
      font-size: 1.8rem;
      padding: 2.5rem 0;
      text-align: justify;
      color: rgba(black, 0.6);
    }
    .typewriter {
      font-size: 5rem;
      font-variant: small-caps;
      color: $orange;
      width: 100%;
      white-space: pre-line;
      font-weight: bold;
      @media screen and (max-width: 768px) {
        text-align: center;
      }
    }
  }
  .banner__img {
    position: relative;
    @media screen and (max-width: 768px) {
      display: none !important;
    }
    position: relative;
    flex: 0.6;
  }
}

.button {
  background-color: $orange;
  color: white;
  font-size: 1.5rem;
  border-radius: 0.4rem;
  padding: 1.1rem 2.5rem;
  width: max-content;
  border: none;
  cursor: pointer;
  font-weight: bold;
  transition : {
    property: transform, box-shadow;
    duration: 0.01s;
  }
  &:hover {
    transform: translate(0.1rem, -0.1rem);
    box-shadow: -0.1rem 0.2rem 0.3rem rgba(black, 0.2);
  }
}
