@import "../../styles/config/utilities";
@import "../../styles/config/variable";

.button {
  background-color: $orange;
  color: white;
  font-size: 1.5rem;
  border-radius: 0.4rem;
  padding: 1rem 2rem;
  width: max-content;
  cursor: pointer;
}
