@import "../../styles/config/utilities";
@import "../../styles/config/variable";

.container {
  position: relative;
  width: 100%;
  padding: 8rem 0;
  @include flex_layout(center, null, column);
  background-color: white;
  background-color: $main;
  &::before {
    content: "";
    position: absolute;
    top: 98%;
    width: 100%;
    height: 13rem;
    z-index: 1;
    left: 0;
    background-image: url(../assets/bg1.svg);
    background-repeat: no-repeat;
    background-position: 0%;
    background-size: cover;
  }
  .main_title {
    font-size: 3rem;
    color: $primary;
    align-self: center;
    padding: 1rem 0;
  }
  .carousel__box {
    position: relative;
    width: 100%;
    padding: 2rem 5rem;
    overflow: hidden;
    .card__wrapper {
      padding: 2rem 0;
    }
    .slider__btn {
      @include flex_layout();
      padding: 1rem 0;
    }
  }
}
