@import "../../styles/config/utilities";
@import "../../styles/config/variable";

.container {
  position: relative;
  width: 100%;
  padding: 8rem 0;
  @include flex_layout(center, null, column);
  background-color: white;
  background-color: $main;
  &::before {
    content: "";
    position: absolute;
    top: 100%;
    width: 100%;
    height: 15rem;
    z-index: 1;
    left: 0;
    background-image: url(../assets/bg1.svg);
    background-repeat: no-repeat;
    background-position: 0%;
    background-size: cover;
  }
  .main_title {
    font-size: 3rem;
    color: $primary;
    align-self: center;
    padding: 1rem 0;
  }
  .about__course {
    position: relative;
    width: max-content;
    border-radius: 0.5rem;
    font-size: 1.7rem;
    line-height: 1.8;
    font-weight: bolder;
    background-color: $primary;
    padding: 2rem;
    color: $main;
    margin: 5rem 0;
    word-spacing: 0.5rem;
    white-space: pre-line;
    box-shadow: -0.5rem -0.5rem 0.2rem rgba(black, 0.2),
      0.5rem 0.5rem 0.2rem rgba(black, 0.2);
    @media screen and (max-width: 768px) {
      width: 95%;
    }
    z-index: 1;
    &::after {
      content: "";
      position: absolute;
      box-shadow: -0.5rem -0.5rem 0.2rem rgba(black, 0.2);
      top: -2.5rem;
      height: 5rem;
      width: 5rem;
      z-index: -1;
      background-color: $primary;
      left: 50%;
      transform: translateX(-50%) rotateZ(45deg);
      border-radius: 0.3rem 0 0 0;
    }
  }
  .carousel__box {
    position: relative;
    width: 100%;
    padding: 2rem 5rem;
    overflow: hidden;
    .card__wrapper {
      padding: 2rem 0;
    }
    .slider__btn {
      @include flex_layout();
      padding: 1rem 0;
    }
  }
}
