@import "../../styles/config/utilities";
@import "../../styles/config/variable";

.container {
  position: relative;
  width: 100%;
  padding: 20rem 0 10rem 0;
  @include flex_layout(center, null, column);
  background-image: url(../assets/wave2.svg);
  background-repeat: no-repeat;
  background-size: cover;
  @media screen and (max-width: 768px) {
    padding: 15rem 0;
  }
  .main_title {
    font-size: 2.5rem;
    color: $primary;
    align-self: center;
    padding: 1rem 0;
    text-transform: uppercase;
    padding-top: 1.5rem;
  }
  .about__course {
    border-radius: 0.5rem;
    text-align: center;
    font-size: 1.8rem;
    line-height: 30px;
    font-weight: 500;
    padding: 1rem 0 3rem 0;
    color: white;
    word-spacing: 0.5rem;
    text-align: center;
    @media screen and (max-width: 768px) {
      width: 95%;
    }
    & > span {
      font-size: 2rem;
      color: $orange;
      padding: 0 1rem;
    }
  }
  .carousel__box {
    position: relative;
    width: 70%;
    padding: 2rem 8rem;
    overflow: hidden;
    @media screen and (max-width: 1024px) {
      width: 100%;
    }
    @media screen and (max-width: 768px) {
      width: 100%;
    }
    .card__wrapper {
      padding: 2rem 0;
    }
    .slider__btn {
      @include flex_layout(center, space-between);
      position: absolute;
      padding: 0 5rem;
      top: 50%;
      left: 0%;
      right: 0%;
    }
  }
}
