@import "../../styles/config/utilities";
@import "../../styles/config/variable";

.course_box {
  position: relative;
  width: 40rem;
  border: 0.1rem solid #ccc;
  border-radius: 0.8rem;
  margin: 0 auto;
  transition: {
    property: border;
    duration: 0.4s;
  }
  background-color: $primary;
  &::before {
    content: "";
    border-radius: 0.8rem;
    position: absolute;
    top: 0;
    z-index: -1;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 2rem rgba(black, 0.15);
    opacity: 0;
    transition: {
      property: opacity;
      duration: 0.4s;
    }
  }
  &:hover {
    border: 0.1rem solid transparent;
    &::before {
      opacity: 1;
    }
  }
  .course_image {
    // position: relative;
    border-radius: 0.8rem 0.8rem 0 0;
    overflow: hidden;
    padding: 0 1rem;
    max-height: max-content;
  }
  .info_box {
    @include flex_layout(null, null, column);
    padding: 3rem 2rem;
    .title {
      font-size: 1.8rem;
      color: black;
    }
    .btn_link {
      font-size: 2rem;
    }
    .review {
      @include flex_layout(center, null);
      margin: 1.5rem 0;
      font-size: 1.4rem;
      .stars {
        margin-right: 0.5rem;
        color: red;
        font-size: 2rem;
      }
    }
    .desc {
      font-size: 1.5rem;
      color: rgba(black, 0.65);
      margin: 0.5rem 0 1.5rem 0;
      line-height: 1.8;
      & > span {
        @include flex_layout(center, null);
        .hourglass {
          margin-right: 0.8rem;
          font-size: 2rem;
        }
      }
    }
  }
}
