@import "../../styles/config/utilities";
@import "../../styles/config/variable";

.container {
    position: relative;
    width: 70%;
    margin:auto;
    background-color: #FFFEF8;
    padding: 3rem 0.5rem 7rem 0.5rem;
    border: 2px solid #fd7e14;
    border-radius:8px;
    text-align: left;
    

}