@import "../../styles/config/utilities";
@import "../../styles/config/variable";


.footer{
  padding-top: 50px;
  padding-bottom: 50px;
  background-color:#fffef8;
}

.wrapper{
  display: flex;
  flex-direction: row;
  font-size: 30px;
  text-align: left;
  justify-content:space-between;
  padding:5rem 10rem;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  background-color: #fffef8;

b{
  font-size:20px;
  text-transform: uppercase;
  font-weight:600;
  color: #FD7E14;
}
  
  .ul1{
    padding: 10px;
    flex: 25%;
    font-size:15px;
    list-style-type: none;
    border-right-style: solid;
    border-right-color: #005778;
    padding-left: 30px;
    color: #005778;
    width: 80%;

    span{
      padding-bottom: 1px;
    }

  }
  .ul2{
    padding: 10px;
    flex: 25%;
    font-size:15px;
    list-style-type: none;
    padding-left: 30px;
    border-right-style: solid;
    border-right-color: #005778 ;
    color: #005778;
    width: 80%;
  }
  .ul3{
    padding: 10px;
    flex: 25%;
    font-size:15px;
    padding-left: 30px;
    list-style-type: none;
    border-right-style: solid;
    border-right-color: #005778;
    width: 80%;
    color: #005778;
  }
  .ul4{
    width: 80%;
    padding: 10px;
    flex: 25%;
    font-size:15px;
    list-style-type: none;
    padding-left: 30px;
    color: #005778;
}

@media (max-width: 1024px) {
  flex-direction: column;
  border-right-style:solid;
  border-right-color: #fff;
    padding:5rem 4rem;
    // border-style:none;
    // display: none;
}


}
.fot{

  // line-height:110px;
}
.copyright{
  font-size:20px;
  font-weight: 600;
  text-align:center;
  color:#005778;
  padding-bottom: 20px;

  @media (max-width: 1024px) {
    font-size:15px;
  }


  b{
    color:#FD7E14;
    
  }
  .heart{
    
    color:#FD7E14;
  }

}
