@import "../../styles/config/utilities";
@import "../../styles/config/variable";

.labels {
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 1rem;
  padding-left: 0.1rem;
  display: block;
  color: $main;
  letter-spacing: 0.1rem;

  @media screen and (max-width: 768px) {
    font-size: 1.5rem;
  }
}

.form__wrapper {
  position: relative;
  height: 100%;
  width: max-content;
  height: max-content;
  overflow: hidden;
  display: flex;
  flex-direction: row-reverse;
  border-radius: 1rem;
  box-shadow: 0 0 15rem rgba(black, 0.2);
  overflow: hidden;
  background-color: #FEE7D4;

  @media screen and (max-width: 768px) {
    width: 100%;
    height: 100%;
    background-color: transparent;
  }

  .overlay__panel {
    position: relative;
    width: 40rem;
    height: 100%;
    min-height: 60rem;
    padding: 2rem 2rem;
    overflow: hidden;
    background-color: #FEE7D4;
    @include flex_layout(center, center, column);

    transition: {
      property: transform;
      duration: 0.3s;
      timing-function: ease-out;
    }

    @media screen and (max-width: 768px) {
      display: none;
    }

    &>.logo {
      max-width: 25rem;
      object-fit: contain;
    }

    .panel__title {
      font-size: 3rem;
      color: $black;
      font-weight: bolder;
      text-align: center;
      margin-bottom: 0.2rem;
      font-variant: small-caps;
    }

    &>p {
      font-size: 2rem;
      color: lighten($black, 0.6);
      text-align: center;
    }
  }

  .feedback__form {
    position: relative;
    width: max-content;
    height: 100%;
    width: 40rem;
    height: min-content;
    padding: 3rem 2rem;
    height: max-content;
    color: black;
    background-color: white;
    border-radius: 1rem;
    overflow: hidden;
    @include flex_layout(null, null, column);

    @media screen and (max-width: 768px) {
      width: 100%;
      padding: 2rem 1rem;
      min-height: max-content;
    }

    .form__title {
      color: rgba(black, 0.6);
      text-align: center;
      padding-bottom: 1rem;
      font-weight: bold;
      font-size: $font_size + 0.5rem;
    }

    .form__area {
      position: relative;
      height: 100%;

      .form__input {
        position: relative;
        margin-bottom: 2rem;

        &>label {
          @extend .labels;
        }

        &>.input__box {
          position: relative;
          height: 5rem;
          width: 100%;
          @include flex_layout(center, null);
          border-radius: 0.5rem;
          overflow: hidden;
          border: 0.1rem solid rgba($black, 0.3);

          &>.login__error {
            position: absolute;
            border: 4px solid red;
            top: 0;
            right: 0;
            font-size: 1.5rem;
            font-weight: bold;
            color: $orange;
            // padding-top: 1rem;
          }

          .select {
            width: 100%;
            height: 100%;
            border: none;
            padding: 0 1rem;
            color: $main;

            &:focus {
              outline: none;
            }
          }

          &:focus {
            outline: none;
          }

          &>.icon {
            color: white;
            width: 5rem;
            height: 100%;
            padding: 1.5rem;
            font-size: 1.4rem;
            background: $main;
          }

          @media screen and (max-width: 768px) {
            width: 100%;
            height: 8rem;

            &>.icon {
              width: 8rem;
              padding: 2.5rem;
            }
          }

          input {
            &::placeholder {
              color: rgb(178, 178, 178);
              font-size: 1.5rem;
            }

            padding: 0 1.5rem;
            color: $main;
            border: none;
            width: 100%;
            height: 100%;
            z-index: 999;

            &:hover {
              box-shadow: none;
            }

            &:focus {
              outline: none;
              border: none;
            }
          }
        }

        &>span {
          display: block;
          margin-bottom: 0.3rem;
          font-size: 1.5rem;
          color: $main;
        }
      }
    }

    .button__wrapper {
      @include flex_layout(center);
      width: 100%;

      .form__submit__btn,
      .close__btn {
        flex-grow: 1;
        padding: 1.5rem;
        background-color: #FD7E14;
        color: white;
        border-radius: 0.6rem;
        font-weight: bold;
        font-size: 1.5rem;
        cursor: pointer;

        transition: {
          property: transform;
          duration: 0.05s;
        }

        border: none;

        &:active {
          transform: scale(0.98);
        }

        &.close__btn {
          border: 0.1rem solid $main;
          color: black;
          background-color: $white;
          margin-right: 0;
        }

        @media screen and (max-width: 768px) {
          padding: 2.5rem 5rem;
          font-size: 2rem;
        }
      }
    }
  }
}

.close__btn__cross {
  color: white;
  font-size: 2.5rem;
  position: absolute;
  right: 1rem;
  top: 1rem;
  background-color: $main;
  border-radius: 0.2rem;
  cursor: pointer;
}

.close__btn__cross__form {
  display: none;
  color: white;
  font-size: 2.5rem;
  right: 1rem;
  top: 1rem;
  background-color: $main;
  border-radius: 0.2rem;
  cursor: pointer;
  float: right;
  margin-left: auto;
  margin-bottom: 2rem;

  @media screen and (max-width: 768px) {
    display: inline-block;
  }
}