@import "../../styles/config/utilities";
@import "../../styles/config/variable";

.header {
  position: relative;
  @include flex_layout(center, space-between);
  padding: 0 4rem;
  height: 10rem;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
  z-index: 999;
  box-shadow: 0.3rem 0 2rem 0.1rem rgba(black, 0.1);
  .logo {
    position: relative;
    width: 15rem;
    height: max-content;
  }
  @media screen and (max-width: 1115px) {
    @include flex_layout(center, null);
    .menu {
      display: block;
    }
  }
  .btn_group {
    display: inline-flex;
    .btn {
      position: relative;
      border: 0.25rem solid $red;
      border-radius: 0.3rem;
      padding: 1.2rem 3.5rem;
      font-size: 1.7rem;
      font-weight: bold;
      color: $red;
      background-color: transparent;
      letter-spacing: 0.03rem;
      font-weight: bold;
      cursor: pointer;
      justify-self: flex-end;
      &:last-child {
        margin-left: 1rem;
        color: $main;
        border-color: $main;
      }
      @include flex_layout();
      .arrow_down {
        font-size: 1.7rem;
        color: black;
        margin-left: 0.3rem;
      }
    }
  }

  .dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    width: max-content;
    padding: 0;
    overflow: hidden;
    border-radius: 0 0 1rem 1rem;
    box-shadow: 0.3rem 0 2rem 0.1rem rgba(black, 0.15);
    & > li {
      list-style: none;
      padding: 1rem 2rem;
      &:last-child,
      &:first-child {
        padding: 2rem 2rem;
      }
      font-size: 1.5rem;
      color: $main;
      @include flex_layout(center, null);
      .arrow_right {
        margin-right: 1rem;
        font-size: 2rem;
      }
    }
  }
}
