@import "../../styles/config/utilities";
@import "../../styles/config/variable";

.header {
  position: relative;
  @include flex_layout(center, space-between);
  padding: 0 2rem;
  border-bottom: 0.1rem solid rgba($gray, 0.1);
  width: 100%;
  height: 8rem;
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
  z-index: 999;
  transition: {
    property: opacity;
    duration: 0.3s;
  }
  &.active {
    box-shadow: 0.3rem 0 2rem 0.1rem rgba(black, 0.1);
    opacity: 1;
  }
  .logo {
    position: relative;
    width: 14rem;
    height: max-content;
    cursor: pointer;
  }
  @media screen and (max-width: 1115px) {
    @include flex_layout(center, null);
  }
  .btn_group {
    position: relative;
    height: 100%;
    // border-radius:2.5rem;
    @include flex_layout(center);
    .btn {
      position: relative;
      padding: 2rem 0;
      height: 100%;
      font-size: 1.8rem;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      -webkit-tap-highlight-color: transparent;
      color: $main;
      padding: 0 1rem;
      & > span {
        @include flex_layout();
        z-index: 2;
        padding: 1rem 2.5rem;
        border-radius: 5rem;
        border: 0.2rem solid $main;
        cursor: pointer;
        &:last-child {
          border: 0.2rem solid $orange;
          color: $orange;
        }
      }
      @media screen and (max-width: 768px) {
        padding: 0;
        margin-right: 2rem;
      }
      &:last-child {
        margin-right: 0;
      }
      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0.01rem;
        width: 100%;
        height: 100%;
      }
      @include flex_layout();
      .arrow_down {
        font-size: 1.7rem;
        color: $orange;
        margin-left: 0.8rem;
      }
    }
  }

  .dropdown {
    position: absolute;
    top: 101%;
    right: 0;
    background-color: white;
    border-radius :2.5rem;
    width: max-content;
    overflow: hidden;
    user-select: none;
    box-shadow: -0.1rem 0.2rem 1rem rgba(black, 0.1);
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    & > li {
      list-style: none;
      padding: 1.5rem 2rem;
      border-radius:2.5rem;

      &:hover {
        background-color: $main;
        color: $primary;
      }
      font-size: 1.5rem;
      color: $main;
      @include flex_layout(center, null);
      .arrow_right {
        margin-right: 1rem;
        font-size: 2rem;
      }
    }
  }
}
