@import "../../styles/config/utilities";
@import "../../styles/config/variable";


.header{
  border-bottom: 2px solid #E9E9E9;
  padding: 0 3rem;
  width: 100%;
  height: 8.7rem;
  position: fixed;
  top: 0;
  left: 0;
  background: #FFFEF8;
  z-index: 999;
  font-size: 20px;
  list-style-type: none;

}
.logo {
  position: relative;
  line-height:40px;
  width: 12rem;
  height: max-content;
  cursor: pointer;
 
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0rem;
}

.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 4px;
  margin: 4px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #FD7E14;
  border: none;
}

.navmenu {
  display: flex;
  flex-direction:row;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
}

.navitem {
  margin-left: 3rem;
  list-style-type: none;
  // padding: 0rem 1rem;
}
.navitem:hover{
  color: #FD7E14;
}

.navlink{
  font-size: 20px;
  font-weight: 600;
  color: #005778;
  text-transform: capitalize;
  letter-spacing: 0.005rem;
}

.navlink:hover{
  color: #FD7E14;
  
}


@media only screen and (max-width: 800px) {
  .navmenu {
      position: fixed;
      left: -100%;
      top: 7rem;
      flex-direction: column;
      background-color: #FFFEF8;
      width: 100%;
      line-height: 30px;
      border-radius: 4px;
      text-align: center;
      transition: 0.3s;
      box-shadow:0 10px 27px rgba(0, 0, 0, 0.05);
      padding: 10rem 1rem;
      list-style-type: none;
  }

  .navmenu.active {
      left: 0;
  }

  .navitem {
      margin: 0rem;
      padding:20px
  }

  .hamburger {
      display:block;
      cursor: pointer;
      border:none !important;
      background-color:#FFFEF8;
  }

  .hamburger.active .bar:nth-child(2) {
      opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
      -webkit-transform: translateY(8px) rotate(45deg);
      transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
      -webkit-transform: translateY(-8px) rotate(-45deg);
      transform: translateY(-8px) rotate(-45deg);
  }





  
}
  // @include flex_layout(center);
.btn1{
  font-size:700;
}
  .btn {
    position: relative;
    letter-spacing: 0.005rem;
    cursor: pointer;
    border:none;
    background-color: #FFFEF8;
    display:none;
    padding: 2rem 0rem;
    height: 100%;
    font-size: 20px;
    font-weight:600;
    color: #FD7E14;
    & > span {
      z-index: 2;
      cursor: pointer;
      letter-spacing: 0.005rem;
    }
    @media screen and (max-width: 768px) {

      padding: 1.4rem;
      font-size:20px;
      color: #005778;

    }
    &:last-child {
      padding:0 0px;
    }
    &::after {
      top: 0;
      left: 0.01rem;
      width: 100%;
      height: 100%;
      // content: "";
    }
    @include flex_layout();
    .arrow_down {
      font-size: 20px;
      color: #FD7E14;
      }
  }

  .btn:hover{
    border-bottom: red;
    color: #005778;
    padding: 0.3rem 0rem;
      border-bottom-style: solid;
    border-bottom-color: #005778;
    transition: .1s;
    
.arrow_down{
  color:#005778
}

  }
  
  .dropdown {
    position: absolute;
    top: 130%;
    right: 0;
    background-color: white;
    border-radius :1rem;
    width: max-content;
    overflow: hidden;
    user-select: none;
    z-index: 999;
    box-shadow: -0.1rem 0.2rem 1rem rgba(black, 0.1);
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    & > li {
      list-style-type: none;
      padding: 1.5rem 2rem;
      cursor: pointer;
      
      &:hover {
        background-color: $main;
        color: $primary;
      }
      font-size: 1.5rem;
      color: $main;
      @include flex_layout(center, null);
      .arrow_right {
        margin-right: 1rem;
        font-size: 2rem;
      }
    }
  }


.bttn{
  padding: 10px 20px;
  border:none !important;
  background-color:#FD7E14;
  text-transform: uppercase;
  color:white !important;
  border-radius:8px;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
  list-style-type: none;
  margin:0rem 1rem;

}
.bttn:hover {
  transform: translate(0.1rem, -0.1rem);
  box-shadow: -0.1rem 0.2rem 0.3rem rgba(rgb(11, 11, 11), 0.2);
  transition-duration: 0.1s;
  background-color: #005877 ;
  border: 2px solid #005877;
}






