@import "../../styles/config/utilities";
@import "../../styles/config/variable";

.title {
  font-size: 2rem;
  color: $main;
  text-align: center;
  padding: 0.4rem 2rem;
  background-color: $main;
  border-radius: 5rem;
  width: max-content;
  color: white;
  @include flex_layout(center);
  .dot {
    color: greenyellow;
    font-size: 3.5rem;
    padding-right: 1rem;
  }
}
